<%- include("partials/header") %>
    <h1>Compose</h1>
    
    <form class="" action="/compose" method="post">
        <div class="form-group">
          <label for="textTitle">Title</label>
          <input type="text" class="form-control" id="textTitle" placeholder="Title" name="titleText">
          <!--<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small> -->
        </div>
        <div class="form-group">
          <label for="textArea">Post</label>
          <textarea type="text" class="form-control" id="textArea" placeholder="Post" rows="3" name="postText"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

<%- include("partials/footer") %>